<form [class]="formStyles">
  <label>Nombre:</label>
  <input
    type="text"
    required
    placeholder="Escribe tu nombre..."
    [(ngModel)]="usuario.name"
    name="name"
  />
  <label>Email:</label>
  <input
    type="email"
    required
    placeholder="Escribe tu email..."
    [(ngModel)]="usuario.email"
    name="email"
  />
  <label>Imagen url:</label>
  <input
    type="text"
    required
    placeholder="Pega el url de tu imagen"
    [(ngModel)]="usuario.imgUrl"
    name="imgUrl"
  />
  <label>Color favorito:</label>
  <input
    type="color"
    value="#ffffff"
    required
    [(ngModel)]="usuario.colorFav"
    name="colorFav"
  />
  <button type="button" [class]="btnStyles" (click)="showCard()">Crear</button>
</form>

<div class="container">
  @for (usuario of usuarios; track usuario){
  <div [style.background-color]="usuario.colorFav" [class]="divStyle">
    <div [class]="imgContainer">
      <img
        src="{{ usuario.imgUrl }}"
        alt="{{ usuario.name }}"
        [class]="imgStyle"
      />
    </div>
    <p class="data">Nombre:</p>
    <p class="data-information">{{ usuario.name }}</p>
    <p class="data">Email:</p>
    <p class="data-information">{{ usuario.email }}</p>
  </div>
  } @empty {
  <p>Completa el formulario para generar la tarjeta.</p>
  }
</div>
