<form [class]="formStyles">
  <label>Nombre:</label>
  <input
    type="text"
    required
    placeholder="Escribe tu nombre..."
    (change)="onChangeValueName($event)"
  />
  <label>Email:</label>
  <input
    type="email"
    required
    placeholder="Escribe tu email..."
    (change)="onChangeValueEmail($event)"
  />
  <label>Imagen url:</label>
  <input
    type="text"
    required
    placeholder="Pega el url de tu imagen"
    (change)="onChangeValueImg($event)"
  />
  <label>Color favorito:</label>
  <input
    type="color"
    value="#ffffff"
    required
    (change)="onChangeValueColor($event)"
  />
  <button type="button" [class]="btnStyles" (click)="showCard()">Crear</button>
</form>

<div
  [style.background-color]="usuario.colorFav"
  [style.display]="styleShowCard"
  [class]="divStyle"
>
  <div [class]="imgContainer">
    <img
      src="{{ usuario.imgUrl }}"
      alt="{{ usuario.name }}"
      [class]="imgStyle"
    />
  </div>
  <p class="data">Nombre:</p>
  <p class="data-information">{{ usuario.name }}</p>
  <p class="data">Email:</p>
  <p class="data-information">{{ usuario.email }}</p>
</div>
