.button-style {
  width: 30px;
  height: 30px;
  background-color: rgb(226, 210, 240);
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  align-content: center;
}
